#resetContainer {
    width: 40%;
    height: 70%;
    margin-top: 3.5%;
    padding-top:4%;
    }

#message {
    text-align: center;
    color: #364F6B;
    font-size: 20px;
    margin-bottom: 4% ;

}

