html, body {
    height:100%;
  }
  
body {
    background-color: rgb(255, 250, 254);
    font-family: 'Arvo', serif;
  }

#mainContainer {
    height: 100%;
  }

#mainRow {
    height: 100%;
  }

#informativeText {
    text-align: center;
    color: #F5F5F5;
  }

.informativeHalf{
    background: #364F6B;
  }

.signupHalf{
    background: #F5F5F5;
  }

#signupTitle{
    color: #364F6B;
    text-align: center;
    margin-bottom:10px; 
    font-weight: bold;
   }

#signupButton{
    width: 100%;
  }
.signupForm{
    width: 50%;
   }

#signupSubTitle{
    color: #364F6B;
    text-align: center;
    margin-bottom:20px; 
    font-size: 15px;
    opacity: 70%;
}

#terms{
    color: #364F6B;
    text-align: center;
    font-size: 13px;
  }

#login{
    color: #364F6B;
    text-align: center;
    font-size: 15px;
    font-weight: bold;
}


.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted #364F6B; 
}

.tooltip .tooltiptext {
  visibility: hidden;
  width: 120px;
  background-color: #364F6B;
  color: #F5F5F5;
  text-align: center;
  padding: 5px 0;
  border-radius: 6px;
 
  position: absolute;
  z-index: 1;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
}


.tooltip .tooltiptext {
  width: 120px;
  bottom: 100%;
  left: 50%;
  margin-left: -60px; 
}

.tooltip .tooltiptext::after {
  content: " ";
  position: absolute;
  top: 100%; 
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #364F6B transparent transparent transparent;
}
