<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- FontAwesome file -->
    <script src="https://kit.fontawesome.com/e7a847d88f.js" crossorigin="anonymous"></script>

   <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

    <!-- Styling sheet -->
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/404.css">

    <title>Not Found!</title>
</head>
<body>
    <div class="container-fluid" id="mainContainer">

        <div class="row" id ="mainRow">
          <div class="col informativeHalf d-flex align-items-center justify-content-center" >
            <div id="informativeText">
                <h1 id="errorMessage"><i class="far fa-times-circle"></i>  404 Page Not Found!</h1>
                <h2 id="errorDescription">Either you requested invaild page or you don't have permission to access this page.</h2>
            </div>
        </div>
     </div>
</body>