<!DOCTYPE html>
<html>

<h1>FoodBuddies</h1>
<h2>Sign Up</h2>
<p>Join our community and enjoy company for any meal, whenever you want.</p>
<hr>

<div>
<label for="email"><b>Minerva email</b></label>
<input type="text" placeholder="@minerva.kgi.edu" name="email" required>
</div>

<div>
<label for="psw"><b>Password</b></label>
<input type="password" placeholder="Enter Password" name="psw" required>
</div>

<div>
<label for="psw-repeat"><b>Repeat Password</b></label>
<input type="password" placeholder="Repeat Password" name="psw-repeat" required>
</div>

<label>
  <input type="checkbox" checked="checked" name="remember" style="margin-bottom:15px"> Keep me logged in
</label>

<p>By creating an account you agree to our <a href="#" style="color:dodgerblue">Terms & Privacy</a>.</p>

<div class="clearfix">
  <button type="submit" class="signupbtn">Join</button>
  <button type="button" class="cancelbtn">Nevermind</button>
</div>
 </html>