<!DOCTYPE html>
<html>
<head>
    <link rel="stylesheet" type="text/css" href="login1.css">
</head>
<h1>FoodBuddies</h1>

<p>Looking for a companion for your next meal?</p>

<div class="login">
  <div class="heading">
    <h2>Sign in</h2>
    <form action="#">

      <div class="input-group input-group-lg">
        <span class="input-group-addon"><i class="fa fa-user"></i></span>
        <input type="text" class="form-control" placeholder="Username or email">
          </div>

        <div class="input-group input-group-lg">
          <span class="input-group-addon"><i class="fa fa-lock"></i></span>
          <input type="password" class="form-control" placeholder="Password">
        </div>


        <p>Don't have an account yet?</p>
        <button type="submit" class="float">Login</button>
       </form>
 		</div>
 </div>
 </html>
 