body {
  background-color: rgb(255, 250, 254);
}

h1 {
  color: rgb(169, 30, 197);
  margin-left: 20px;
}

p {
    color: rgb(34, 3, 24);
    margin-left: 20px;
  }

h2 {
    color: rgb(169, 30, 197);
    margin-left: 20px;
  }

