html, body {
  height:100%;
}

body {
  background-color: rgb(255, 250, 254);
  font-family: 'Arvo', serif;
}

#mainContainer {
  height: 100%;
}

#mainRow {
  height: 100%;
}

#informativeText {
  text-align: center;
  color: #F5F5F5;
}

.loginHalf{
  background: #F5F5F5;
}
.informativeHalf{
  background: #364F6B;

}

#loginTitle{
 color: #364F6B;
 text-align: center;
 margin-bottom:27px; 
 font-weight: bold;

}

#forgotPass{
  text-align: center;
  font-size: 15px;
  margin-bottom: 80px;
}

#createAcc{
  color: #364F6B;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}

#loginButton{
  width: 100%;
}

.loginForm{
 width: 50%;
}

#loggedIn{
  color: #364F6B;
  font-size: 17px;
  opacity: 90%;
}
