<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    
    <!-- Tab icon -->
    <link rel="icon" href="{{ url_for('static', filename='icons/mainIcon.ico') }}">

    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <!-- FontAwesome file -->
    <script src="https://kit.fontawesome.com/e7a847d88f.js" crossorigin="anonymous"></script>

   <!-- Google fonts -->
    <link href="https://fonts.googleapis.com/css?family=Arvo&display=swap" rel="stylesheet">

    <!-- Styling sheet -->
    <link rel="stylesheet" href="../static/login.css">
    <link rel="stylesheet" href="../static/resetPassword.css">

    <title>Rest Password!</title>
</head>
<body>
    <script>

        function checkForm(form)
        {
      
          if(form.pwd1.value == form.pwd2.value) {
              return true;
            }
          else {
            alert("Error: the password is not repeated correctly");
            form.pwd1.focus();
            return false;
          }
          }
      </script>

    <div class="container-fluid" id="mainContainer">
        <div class="row" id ="mainRow">
          <div class="col informativeHalf d-flex align-items-center justify-content-center" >
            <div class="shadow-lg"style="width: 23%;   background: #F5F5F5; font-color:#364F6B; height:230px; padding: 15px;">
                <div>
                    <form action="{{ url_for('authentication.reset_with_token',token=token) }}" method="POST" onsubmit="return checkForm(this);">
                    <label id="message">Please enter your new password!</label>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon4"><i class="fas fa-key"></i></span>
                        </div>
                        <input type="password" name="password" class="form-control" placeholder="Password" aria-label="Password" aria-describedby="basic-addon4"
                        minlength="8" maxlength="16" name="pwd1" required>
                    </div>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                          <span class="input-group-text" id="basic-addon5"><i class="fas fa-redo"></i></span>
                        </div>
                        <input type="password" class="form-control" placeholder="Repeat Password" aria-label="Repeat Password" aria-describedby="basic-addon5"
                        minlength="8" maxlength="16" name="pwd2" required>
                    </div>
                    <button type="submit" class="btn btn-primary mb-4">Change Password</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
    </div>
</body>
</html>